<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>University of Glasgow (2016)</string>
	<key>CFBundleDisplayName</key>
	<string>YACRSMac</string>
	<key>CFBundleIdentifier</key>
	<string>ac.uk.glasgow.YACRSMac</string>
	<key>CFBundleName</key>
	<string>YACRSMac</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.education</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1 r5</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict/>
	</array>
</dict>
</plist>
